.desktop1-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.desktop1-desktop1 {
  width: 100%;
  height: 1838px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(255, 255, 255, 1);
}
.desktop1-photo5449730160917074897y1 {
  top: 1600.940673828125px;
  left: 3.433455228805542px;
  width: 80%;
  height: 631px;
  position: absolute;
}
.desktop1-photo5449730160917074898y1 {
  top: 1.5242878198623657px;
  left: 1.961669921875px;
  width: 80%;
  height: 195px;
  position: absolute;
}
.desktop1-photo5449730160917074794y1 {
  top: 968px;
  left: 1.9941711425781px;
  width: 400px;
  height: 466px;
  position: absolute;
}
.desktop1-photo5449730160917074905x1 {
  top: 0px;
  left: 712px;
  width: 63px;
  height: 53px;
  position: absolute;
  border-radius: 108.5px;
}
.desktop1-photo5449730160917074906x1 {
  top: 1px;
  left: 8px;
  width: 55px;
  height: 51px;
  position: absolute;
  border-radius: 147px;
}
.desktop1-text {
  top: 36px;
  left: 245px;
  color: rgba(0, 0, 0, 1);
  width: 993px;
  height: auto;
  position: absolute;
  font-size: 90px;
  font-style: Regular;
  text-align: left;
  font-family: Ledger;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop1-photo5449730160917074913x {
  top: 1676px;
  left: 936px;
  width: 119px;
  height: 119px;
  position: absolute;
}
.desktop1-photo5449730160917074911x {
  top: 1676px;
  left: 1252px;
  width: 129px;
  height: 119px;
  position: absolute;
}
.desktop1-photo5449730160917074912x {
  top: 1676px;
  left: 1094px;
  width: 119px;
  height: 119px;
  position: absolute;
}
.desktop1-photo5449730160917074914x {
  top: 1676px;
  left: 775px;
  width: 122px;
  height: 119px;
  position: absolute;
}
.desktop1-rectangle1 {
  top: 216px;
  left: 1089px;
  width: 325px;
  height: 48px;
  position: absolute;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 3px;
  background-color: #b3b3b3;
}
.desktop1-rectangle2 {
  top: 1560px;
  left: 841px;
  width: 295px;
  height: 46px;
  position: absolute;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 3px;
  background-color: #b3b3b3;
}
.desktop1-text02 {
  top: 1506px;
  color: rgba(0, 0, 0, 1);
  width: 1447px;
  height: auto;
  position: absolute;
  font-size: 45px;
  font-style: Regular;
  text-align: left;
  font-family: JejuMyeongjo;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop1-text04 {
  left: 775px;
  color: rgba(0, 0, 0, 1);
  width: 758px;
  height: auto;
  position: absolute;
  font-size: 40px;
  font-style: Regular;
  text-align: left;
  font-family: Lexend;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop1-text06 {
  top: 212px;
  left: 75px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 40px;
  font-style: Regular;
  text-align: left;
  font-family: Ledger;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop1-text08 {
  top: 212px;
  left: 408px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 40px;
  font-style: Regular;
  text-align: left;
  font-family: Ledger;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop1-text10 {
  left: 63px;
  color: rgba(0, 0, 0, 1);
  width: 364px;
  height: auto;
  position: absolute;
  font-size: 40px;
  box-shadow: 0px 5.142857074737549px 5.142857074737549px 0px rgba(0, 0, 0, 0.25) ;
  font-style: Regular;
  text-align: left;
  font-family: Lexend Deca;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop1-text12 {
  top: 212px;
  left: 712px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 40px;
  font-style: Regular;
  text-align: left;
  font-family: Ledger;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop1-text14 {
  top: 360px;
  left: 408px;
  color: rgba(0, 0, 0, 1);
  width: 523px;
  height: auto;
  position: absolute;
  font-size: 45px;
  font-style: Regular;
  text-align: left;
  font-family: JejuMyeongjo;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop1-line1 {
  top: 192px;
  width: 1500px;
  height: 10px;
  position: absolute;
}
.desktop1-line2 {
  top: 309px;
  width: 1500px;
  height: 10px;
  position: absolute;
}
.desktop1-photo5449730160917074970y1 {
  top: 360px;
  left: 1.9983825683594px;
  width: 400px;
  height: 463px;
  position: absolute;
}
.desktop1-text19 {
  top: 975px;
  left: 405px;
  color: rgba(0, 0, 0, 1);
  width: 523px;
  height: auto;
  position: absolute;
  font-size: 45px;
  font-style: Regular;
  text-align: left;
  font-family: JejuMyeongjo;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop1-rectangle3 {
  top: 740px;
  left: 408px;
  width: 367px;
  height: 55px;
  position: absolute;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 3px;
  background-color: #b3b3b3;
}
.desktop1-rectangle4 {
  top: 1281px;
  left: 408px;
  width: 367px;
  height: 61px;
  position: absolute;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 3px;
  background-color: #b3b3b3;
}
.desktop1-image2 {
  top: 413px;
  left: 1037px;
  width: 351px;
  height: 274px;
  position: absolute;
}
.desktop1-image3 {
  top: 850px;
  left: 1037px;
  width: 351px;
  height: 242px;
  position: absolute;
}
.desktop1-text30 {
  top: 687px;
  left: 1077px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 45px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop1-text35 {
  top: 1093px;
  left: 1047px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 45px;
  font-style: Regular;
  text-align: center;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}

@media screen and (max-width: 420px){
  .desktop1-desktop1{
    width: 420px;
  }
}
@media screen and (max-width: 600px){
  .desktop1-desktop1{
    width: 600px;
  }
}
@media screen and (max-width: 768px){
  .desktop1-desktop1{
    width: 768px;
  }
}
@media screen and (max-width: 1080px){
  .desktop1-desktop1{
    width: 1080px;
  }
}

@media screen and (max-width: 1940px){
  .desktop1-desktop1{
    width: 1940px;
  }
}
@media screen and (max-width: 420px){
  .desktop1-desktop1{
    width: 420px;
  }
}
@media screen and (max-width: 600px){
  body{
    width: 600px;
  }
}
@media screen and (max-width: 768px){
  body{
    width: 768px;
  }
}
@media screen and (max-width: 1080px){
  body{
    width: 1080px;
  }
}

@media screen and (max-width: 1940px){
  body{
    width: 1940px;
  }
}